body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('https://image.freepik.com/free-photo/book-turning-pages_1150-146.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  width: 100vw;
}
